h1 {
  font-size: 42px;
  line-height: 44px;
  font-family: $semibold;
}
h2 {
  font-size: 28px;
  line-height: 32px;
  font-family: $semibold;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: $semibold;
}
h4 {
  font-size: 20px;
  line-height: 28px;
  font-family: $semibold;
}
h5 {
  font-size: 16px;
  line-height: 20px;
  font-family: $semibold;
}

.subheading {
  font-size: 10px;
  line-height: 12px;
  font-family: $medium;
}
.caption {
  font-size: 12px;
  line-height: 16px;
  font-family: $regular;
}

.font-regular-22 {
  font-size: 22px;
  line-height: 36px;
  font-family: $regular;
}
.font-regular-20 {
  font-size: 20px;
  line-height: 36px;
  font-family: $regular;
}
.font-regular-16 {
  font-size: 16px;
  line-height: 36px;
  font-family: $regular;
}
.font-regular-14 {
  font-size: 14px;
  line-height: 36px;
  font-family: $regular;
}
.font-regular-13 {
  font-size: 13px;
  font-family: $regular;
}
.font-regular-12 {
  font-size: 12px;
  line-height: 36px;
  font-family: $regular;
}
.font-regular-11 {
  font-size: 11px;
  line-height: 36px;
  font-family: $regular;
}

.font-medium-22 {
  font-size: 22px;
  line-height: 36px;
  font-family: $medium;
}
.font-medium-20 {
  font-size: 20px;
  line-height: 36px;
  font-family: $medium;
}
.font-medium-16 {
  font-size: 16px;
  line-height: 36px;
  font-family: $medium;
}
.font-medium-14 {
  font-size: 14px;
  line-height: 36px;
  font-family: $medium;
}
.font-medium-12 {
  font-size: 12px;
  line-height: 36px;
  font-family: $medium;
}
.font-medium-11 {
  font-size: 11px;
  line-height: 36px;
  font-family: $medium;
}

.font-semibold-22 {
  font-size: 22px;
  line-height: 36px;
  font-family: $semibold;
}
.font-semibold-20 {
  font-size: 20px;
  line-height: 36px;
  font-family: $semibold;
}
.font-semibold-16 {
  font-size: 16px;
  line-height: 36px;
  font-family: $semibold;
}
.font-semibold-14 {
  font-size: 14px;
  line-height: 36px;
  font-family: $semibold;
}
.font-semibold-12 {
  font-size: 12px;
  line-height: 36px;
  font-family: $semibold;
}
.font-semibold-11 {
  font-size: 11px;
  line-height: 36px;
  font-family: $semibold;
}
