@import "../variables";
.refresh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  .tooltip {
    display: none;
    position: absolute;
    top: 24px;
    left: 0px;
    width: 64px !important;
    height: auto;
  }
  &:hover {
    background: #d1e2ff;
    .tooltip {
      display: block;
    }
  }
  &:active:not(.loading) {
    background: #8cb6fe;
  }
}

.cmg-btn {
  height: 32px;
  width: max-content;
  padding: 0 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
  transition: 0.2s;
  padding-bottom: 3px !important;
  outline: none;
  display: flex;
  align-items: center;
  border: 1px solid $white;
  font-family: $regular;
  position: relative;
  &.cmg-btn-small {
    height: 26px;
  }
  &:hover {
    box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.2);
  }
  &.full-btn {
    width: 100%;
    justify-content: center;
  }
  &.disabled {
    cursor: default;
    pointer-events: none;
    border: 0;
  }
  &:focus {
    outline: none;
  }
  span.icon-left {
    svg,
    img {
      height: 16px;
      width: 14px;
      margin-right: 8px;
      path {
        fill: #000;
      }
    }
  }
  span.arrow-actions {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 8px;
    padding: 8px;
    padding-bottom: 7px;
    svg,
    img {
      margin-top: 3px;
      width: 8px;
      height: 6px;
      path {
        fill: #000;
      }
    }
  }
  // PRIMARY BTN //
  &.primary-btn,
  &.primary-icon-btn,
  &.primary-actions-btn {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    &:hover {
      background-color: $blue-dark-btn;
      border-color: $blue-dark-btn;
    }
    &:focus {
      background-color: $blue-darker-btn;
      border-color: $blue-darker-btn;
    }
    &:active {
      background-color: $blue;
      border-color: $blue-darker-btn;
    }
    &.disabled {
      background-color: rgba($color: $blue, $alpha: 0.5);
      color: $white;
    }
    span.icon-left {
      svg,
      img {
        path {
          fill: $white;
        }
      }
    }
    span.arrow-actions {
      svg,
      img {
        path {
          fill: $white;
        }
      }
    }
  }
  &.primary-icon-btn {
    padding-left: 10px;
    padding-bottom: 2px;
    svg,
    img {
      height: 16px;
      width: 14px;
      margin-right: 8px;
      path {
        fill: $white;
      }
    }
  }
  &.primary-actions-btn {
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 2px;
  }

  // SECONDARY BTN
  &.secondary-btn,
  &.secondary-icon-btn,
  &.secondary-actions-btn {
    background-color: $white;
    border-color: $white;
    &:hover {
      background-color: $sky-lighter;
      border-color: $sky-lighter;
    }
    &:focus {
      background-color: $sky-lighter;
      border-color: $sky-lighter;
    }
    &:active {
      background-color: $white;
      border-color: #f4f6f8;
    }
    &.disabled {
      color: $sky-dark;
    }
  }
  &.secondary-icon-btn {
    padding-left: 10px;
    padding-bottom: 2px;
    svg,
    img {
      height: 16px;
      width: 14px;
      margin-right: 8px;
    }
  }
  &.secondary-actions-btn {
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 2px;
  }

  // TERTIARY BTN
  &.tertiary-btn,
  &.tertiary-icon-btn,
  &.tertiary-actions-btn {
    background-color: $white;
    border-color: $sky-dark;
    box-shadow: 0 0 1px 0 rgba($color: #000000, $alpha: 0.1);
    &:hover {
      background-color: $sky-lighter;
      box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
    }
    &:focus {
      background-color: $sky-lighter;
    }
    &:active {
      background-color: $white;
    }
    &.disabled {
      color: $sky-dark;
    }
  }
  &.tertiary-icon-btn {
    padding-left: 10px;
    padding-bottom: 2px;
    svg,
    img {
      height: 16px;
      width: 14px;
      margin-right: 8px;
    }
  }
  &.tertiary-actions-btn {
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 2px;
  }

  // PLAIN BTN
  &.plain-btn,
  &.plain-icon-btn,
  &.plain-actions-btn {
    background-color: $white;
    border: 0;
    box-shadow: none;
    padding-bottom: 2px;
    &:hover {
      background-color: $sky-lighter;
    }
    &:focus {
      color: $blue;
      background-color: $blue-lighter;
      span.icon-left {
        svg,
        img {
          path {
            fill: $blue;
          }
        }
      }
    }
    &:active {
      color: #000;
      background-color: $sky-lighter;
      span.icon-left {
        svg,
        img {
          path {
            fill: #000;
          }
        }
      }
    }
    &.disabled {
      color: $sky-dark;
      background-color: $sky-lighter;
    }
  }
  &.plain-icon-btn {
    padding-left: 10px;
    svg,
    img {
      height: 16px;
      width: 14px;
      margin-right: 8px;
    }

    &:focus {
      svg,
      img {
        path {
          fill: $blue;
        }
      }
    }
    &:active {
      svg,
      img {
        path {
          fill: #000;
        }
      }
    }
  }
  &.plain-actions-btn {
    margin-left: 10px;
    padding-right: 0;
    padding-left: 0;
    span.arrow-actions {
      border-left: 1px solid transparent;
    }
    &:hover {
      // background: $blue-light!important;
      span.arrow-actions {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
      }
    }
    &:focus {
      span.arrow-actions {
        border-left: 1px solid rgba($color: $blue, $alpha: 0.1);
        svg,
        img {
          path {
            fill: $blue;
          }
        }
      }
    }
    &:active {
      span.arrow-actions {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
        svg,
        img {
          path {
            fill: #000;
          }
        }
      }
    }
  }

  // DANGER BTN //
  &.danger-btn,
  &.danger-icon-btn,
  &.danger-actions-btn {
    background-color: $red;
    border-color: $red;
    color: $white;
    &:hover {
      background-color: $red-btn-hover;
      border-color: $red-btn-border;
    }
    &:focus {
      background-color: $red-btn-border;
      border-color: $red-btn-border;
    }
    &:active {
      background-color: $red;
      border-color: $red-btn-border;
    }
    &.disabled {
      background-color: rgba($color: $red, $alpha: 0.5);
    }
    span.icon-left {
      svg,
      img {
        path {
          fill: $white;
        }
      }
    }
    span.arrow-actions {
      svg,
      img {
        path {
          fill: $white;
        }
      }
    }
  }
  &.danger-icon-btn {
    padding-left: 10px;
    padding-bottom: 2px;
    svg,
    img {
      height: 16px;
      width: 14px;
      margin-right: 8px;
      path {
        fill: $white;
      }
    }
  }
  &.danger-actions-btn {
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 2px;
  }

  // MORE ACTIONS BTN
  &.cmg-more-actions {
    background-color: $white;
    border-color: $white;
    width: 22px;
    height: 22px;
    justify-content: center;
    padding: 0;
    margin-left: 1px;
    &.vertical {
      svg,
      img {
        transform: rotate(90deg);
      }
    }
    &:hover {
      background-color: $sky-lighter;
      border-color: $sky-lighter;
    }
    &:focus {
      background-color: $blue-lighter;
      color: $blue;
      border-color: $blue-lighter;
      svg,
      img {
        path {
          fill: $blue;
        }
      }
    }
    &:active {
      background-color: $white;
      border-color: $sky-lighter;
      svg,
      img {
        path {
          fill: #000;
        }
      }
    }
    &.disabled {
      color: $sky-dark;
    }

    &.more-actions-nobg {
      box-shadow: none;
    }
  }
}

// DROPDOWN LIST
.cmg-dropdown {
  position: absolute;
  width: 240px;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
  display: none;
  top: 28px;
  // top: 30px;
  left: 0;
  cursor: auto;
  &.open {
    display: block;
  }
  &.left {
    left: unset;
    right: 0;
  }
  .option-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
  }
  .cmg-dropdown-title {
    margin-bottom: 2px;
    p {
      font-weight: bolder;
      padding: 4px;
      text-align: left;
      color: $primary;
    }
  }
  a {
    display: flex;
    align-items: center;
    padding: 3px 8px 7px 8px;
    color: #000;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: $sky-lighter;
    }
    &:focus {
      background-color: $sky-lighter;
    }
    .list-text {
      margin-left: 8px;
    }
    .dropdown-icon {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg,
      img {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
