@import '../../assets/style/variables';
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    // @include maxWidth("m") {
    //   transform: translateX(-100%);
    //   height: calc(100vh - #{$toolbar-height}) !important;
    //   overflow-y: scroll;
    //   background: $sky-light;
    //   position: absolute;
    //   z-index: 3;
    //   width: 200px;
    //   top: $toolbar-height;
    //   padding: 0 8px;
    //   &.open {
    //     transform: translateX(0);
    //   }
    // }
    &.split {
      height: auto;
      > ul:last-child {
        @include minWidth("m") {
          position: absolute;
          bottom: 80px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    ul {
      width: 100%;
      text-align: center;
      &:last-child li:last-child {
        margin-bottom: 6px;
      }
      // @include maxWidth("m") {
      //   &:first-child li:first-child {
      //     display: none;
      //   }
      // }
      li {
        position: relative;
        .cmg-actions-plus {
          padding-bottom: 1px!important;
          margin-top: 1rem !important;
          margin-bottom: 1rem !important;
          svg {
            path {
              fill: white;
            }
          }
        }
        &.page-1 {
          display: block;
        }
        &.page-2 {
          @include minWidth("m") {
            display: none;
          }
        }
        a,
        .nav-btn {
          margin: 10px 0;
          position: relative;
          width: 100%;
          height: 40px;
          border-right: 2px solid transparent;
          @include flexCenter(0);
          display: inline-flex;
          // cursor: pointer;
          // @include maxWidth("m") {
          //   width: 100%;
          //   justify-content: flex-start;
          //   .pic {
          //     width: 40px;
          //     height: 100%;
          //     @include flexCenter(0);
          //   }
          // }
          .pic {
            svg {
              g {
                fill: $ink-lightest;
              }
              path {
                fill: $ink-lightest;
              }
            }
            &.mandats {
              path {
                &:nth-child(2),
                &:nth-child(3) {
                  fill: $white;
                }
              }
            }
          }
          span {
            position: absolute;
            background: $primary;
            color: $white;
            left: 60px;
            padding: 3px 6px;
            border-radius: 4px;
            z-index: 2;
            box-shadow: 0 1px 3px 0.5px transparentize(#061249, 0.8);
            display: none;
            // @include maxWidth("m") {
            //   display: block;
            //   position: relative;
            //   left: 10px;
            //   background: transparent;
            //   color: $white;
            //   font-family: $semibold;
            //   font-size: 16px;
            //   box-shadow: none;
            // }
            &::before {
              content: "";
              width: 0px;
              height: 0px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-right: 5px solid $primary;
              position: absolute;
              left: -5px;
              top: 50%;
              transform: translateY(-50%);
              @include maxWidth("m") {
                display: none;
              }
            }
          }
          &.notification {
            output {
              position: absolute;
              top: 2px;
              right: 2px;
              background: $red;
              color: $white;
              width: 17px;
              height: 17px;
              font-size: 10px;
              @include flexCenter(2px);
              border-radius: 100%;
            }
          }
          &.active {
            border-right: 2px solid $blue;
            .pic {
              svg {
                g {
                  fill: $blue;
                }
                path {
                  fill: $blue;
                }
              }
            }
          }
          &:hover,
          &.open {
            .pic {
              svg {
                g {
                  fill: $blue;
                }
                path {
                  fill: $blue;
                }
              }
            }
            span {
              display: block;
            }
          }
          &.search {
            background: transparentize($secondary, 0.8);
            svg path {
              fill: $secondary;
            }
          }
          &.user {
            border-radius: 100%;
            ins {
              font-family: "SF-Pro-Rounded-Medium";
              background-color: $background2;
              border-radius: 100%;
              color: $white;
              cursor: pointer;
              width: 40px;
              height: 40px;
              @include flexCenter(0)
            }
          }
        }
        .submenu {
          position: absolute;
          text-align: left;
          background-color: $white;
          @include boxShadow;
          border-radius: 4px;
          z-index: 3;
          top: 5px;
          left: 55px;
          width: 220px;
          display: none;
          @include maxWidth('m') {
            top: 60px;
            left: 0px;
            width: 184px;
            padding-top: 5px;
            box-shadow: 0 0 10px $primary;
          }
          &.open {
            display: block;
            padding: 0;
            .title {
              padding: 8px 16px 10px;
              border-bottom: solid 1px $border1;
              font-family: $semibold;
              @include maxWidth('m') {
                display: none;
              }
            }
            .content {
              li {
                &:last-child {
                  margin: 0;
                  a {
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                  }
                }
                a {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  width: 100%;
                  height: 100%;
                  padding: 6px 15px;
                  margin: 0;
                  cursor: pointer;
                  transition: .2s;
                  &:hover,
                  &.active {
                    background: $sky-light;
                  }
                }
              }
            }
          }
        }
      }
    }
  }