.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $sky-light;
  width: $navbar-width;
  height: calc(100vh - $toolbar-height);
  position: fixed;
  top: $toolbar-height;
  left: 0;
  border-right: 1px solid $grey1;
  font-size: 12px;
  margin-left: -1px;
  .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      padding: 0;
      width: 100%;
      text-align: center;
      list-style: none;
      &:last-child li:last-child {
        margin-bottom: 6px;
      }
      li {
        position: relative;
        .cmg-actions-plus {
            padding-bottom: 1px!important;
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
            margin-left: auto !important;
            margin-right: auto !important;
            background-color: $blue;
            border-color: $blue;
            svg {
                path{
                    fill: white;
                }
            }
          }
        .router-class {
          margin: 10px 0;
          position: relative;
          width: 100%;
          height: 40px;
          border-right: 2px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          display: inline-flex;
          .pic {
            svg {
              g {
                fill: $ink-lightest;
              }
              path {
                fill: $ink-lightest;
              }
            }
            &.mandats {
              path {
                &:nth-child(2),
                &:nth-child(3) {
                  fill: $white;
                }
              }
            }
            &.active {
              border-right: 2px solid $blue;
              .pic {
                svg {
                  g {
                    fill: $blue;
                  }
                  path {
                    fill: $blue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
