* {
  margin: 0;
  padding: 0;
}

.page .reservation{
  width: 10px;
  height: 100%;
  .test{
    background-color: blueviolet !important;
    width: 500px;
    height: 200px;
    h1{
      font-size: 2px;
    }
  }
}