@import "./variables";
@font-face {
  font-family: "URWGeometric Light";
  src: url("../fonts/URWGeometric/URWGeometric-Light.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Light.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Light.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Light.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Light.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric Regular";
  src: url("../fonts/URWGeometric/URWGeometric-Regular.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Regular.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Regular.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Regular.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Regular.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric Medium";
  src: url("../fonts/URWGeometric/URWGeometric-Medium.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Medium.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Medium.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Medium.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Medium.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric SemiBold";
  src: url("../fonts/URWGeometric/URWGeometric-SemiBold.eot");
  src: url("../fonts/URWGeometric/URWGeometric-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric Bold";
  src: url("../fonts/URWGeometric/URWGeometric-Bold.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Bold.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Bold.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Bold.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Bold.svg") format("svg");
}

//// SF Pro Rounded
@font-face {
  font-family: "SF-Pro-Rounded-Medium";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.eot");
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff2") format("woff2"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.ttf") format("truetype"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.svg") format("svg");
}
//// SF Pro Rounded
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"),
    url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff"),
    url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype"),
    url("../fonts/Ubuntu/Ubuntu-Medium.svg") format("svg");
}

.playground {
  display: flex;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 5px;
}
.card {
  @apply bg-white flex flex-row justify-evenly items-center;
  width: 28vw;
  height: 10vh;
}

.cmg-btn {
  @apply font-medium rounded-btn shadow-btn;
  border-width: 1px;
}

@layer{
  .primary{
    background: linear-gradient(
      180deg,
      rgba(25, 109, 253, 0.5) 0%,
      rgba(22, 99, 226, 0.5) 100%
    ),
    #196dfd;
  }
}

.primary {
  @apply text-white border-solid border-default bg-button-primary;
  // background: linear-gradient(
  //     180deg,
  //     rgba(25, 109, 253, 0.5) 0%,
  //     rgba(22, 99, 226, 0.5) 100%
  //   ),
  //   #196dfd;
  svg {
    path {
      @apply fill-white;
    }
  }
  &:hover {
    @apply text-white border-solid border-default;
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.1),
        rgba(6, 18, 73, 0.1)
      ),
      linear-gradient(
        180deg,
        rgba(25, 109, 253, 0.5) 0%,
        rgba(22, 99, 226, 0.5) 100%
      ),
      #196dfd;
  }
  &:focus {
    @apply text-white border-solid border-focus;
    background: linear-gradient(
        180deg,
        rgba(25, 109, 253, 0.5) 0%,
        rgba(22, 99, 226, 0.5) 100%
      ),
      #196dfd;
  }
  &:active {
    @apply text-white border-solid border-default;
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.2),
        rgba(6, 18, 73, 0.2)
      ),
      linear-gradient(
        180deg,
        rgba(25, 109, 253, 0.5) 0%,
        rgba(22, 99, 226, 0.5) 100%
      ),
      #196dfd;
  }
  &:disabled {
    @apply border-solid border-transparent shadow-btn text-white;
    background: linear-gradient(
        0deg,
        rgba(27, 113, 255, 0.5),
        rgba(27, 113, 255, 0.5)
      ),
      #ffffff;
    &:hover {
      @apply border-solid border-transparent text-white;
      background: linear-gradient(
          0deg,
          rgba(27, 113, 255, 0.5),
          rgba(27, 113, 255, 0.5)
        ),
        #ffffff;
    }
  }
}

.secondary {
  @apply bg-white text-black border-solid border-transparent;
  &:hover {
    @apply text-black border-solid border-transparent;
    background: #f4f6f8 !important;
  }
  &:focus {
    @apply text-black border-solid border-focus;
  }
  &:active {
    @apply border-solid border-transparent;
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.05),
        rgba(6, 18, 73, 0.05)
      ),
      #f4f6f8 !important;
  }
  &:disabled {
    background: #f8f9fb !important;
  }
}

.selected {
  background: #e8f0ff !important;
  border: 1px solid transparent !important;
  color: #196dfd;
}

.tertiary {
  @apply bg-white border-solid border-tertiary shadow-none text-black;
  &:hover {
    @apply bg-white border-solid border-tertiary shadow-none text-black;
    background: #f4f6f8 !important;
  }
  &:focus {
    @apply bg-white text-black border-solid border-focus;
  }
  &:active {
    @apply border-solid border-tertiary;
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.05),
        rgba(6, 18, 73, 0.05)
      ),
      #f4f6f8 !important;
  }
  &:disabled {
    @apply border-solid border-tertiary;
    background: #f8f9fb !important;
  }
}

.plain-button {
  @apply border-solid border-transparent shadow-none text-black;
  &:hover {
    @apply text-black border-solid border-transparent;
    background: #f4f6f8;
  }
  &:focus {
    @apply text-blue border-solid border-transparent;
    background: #e8f0ff;
  }
  &:active {
    @apply text-black border-solid border-transparent;
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.05),
        rgba(6, 18, 73, 0.05)
      ),
      #f4f6f8;
  }
  &:disabled {
    background: #f8f9fb;
    &:hover {
      background: #f8f9fb;
    }
  }
}

.destructive {
  @apply bg-red border-solid border-default text-white;
  svg {
    path {
      @apply fill-white;
    }
  }
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.1),
        rgba(6, 18, 73, 0.1)
      ),
      #ff0055 !important;
  }
  &:focus {
    @apply border-solid border-focus;
  }
  &:active {
    @apply border-solid border-default;
    background: linear-gradient(
        0deg,
        rgba(6, 18, 73, 0.2),
        rgba(6, 18, 73, 0.2)
      ),
      #ff0055 !important;
  }
  &:disabled {
    @apply border-solid border-transparent;
    background: linear-gradient(
        0deg,
        rgba(255, 0, 85, 0.5),
        rgba(255, 0, 85, 0.5)
      ),
      #ffffff !important;
  }
}
