@font-face {
  font-family: "URWGeometric Light";
  src: url("../fonts/URWGeometric/URWGeometric-Light.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Light.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Light.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Light.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Light.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric Regular";
  src: url("../fonts/URWGeometric/URWGeometric-Regular.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Regular.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Regular.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Regular.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Regular.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric Medium";
  src: url("../fonts/URWGeometric/URWGeometric-Medium.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Medium.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Medium.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Medium.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Medium.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric SemiBold";
  src: url("../fonts/URWGeometric/URWGeometric-SemiBold.eot");
  src: url("../fonts/URWGeometric/URWGeometric-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-SemiBold.svg") format("svg");
}
@font-face {
  font-family: "URWGeometric Bold";
  src: url("../fonts/URWGeometric/URWGeometric-Bold.eot");
  src: url("../fonts/URWGeometric/URWGeometric-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/URWGeometric/URWGeometric-Bold.woff2") format("woff2"),
    url("../fonts/URWGeometric/URWGeometric-Bold.woff") format("woff"),
    url("../fonts/URWGeometric/URWGeometric-Bold.ttf") format("truetype"),
    url("../fonts/URWGeometric/URWGeometric-Bold.svg") format("svg");
}

//// SF Pro Rounded
@font-face {
  font-family: "SF-Pro-Rounded-Medium";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.eot");
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff2") format("woff2"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff") format("woff"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.ttf") format("truetype"),
    url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.svg") format("svg");
}
//// SF Pro Rounded
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format("woff2"),
    url("../fonts/Ubuntu/Ubuntu-Medium.woff") format("woff"),
    url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype"),
    url("../fonts/Ubuntu/Ubuntu-Medium.svg") format("svg");
}

.cmg-btn {
  @apply font-medium rounded-btn shadow-btn border border-solid;
}

.btn-primary {
  @apply text-white border-default bg-button-primary;
  svg {
    path {
      @apply fill-white;
    }
  }
  &:hover {
    @apply text-white border-default bg-button-primary-hover;
  }
  &:focus {
    @apply text-white border-focus bg-button-primary-focus;
  }
  &:active {
    @apply text-white border-default bg-button-primary-active;
  }
  &:disabled {
    @apply border-transparent shadow-btn text-white bg-button-primary-disabled;
    &:hover {
      @apply border-transparent text-white bg-button-primary-disabled;
    }
  }
}

.btn-secondary {
  @apply bg-white text-black border-transparent;
  &:hover {
    @apply text-black border-transparent bg-grey-200;
  }
  &:focus {
    @apply text-black border-focus bg-white;
  }
  &:active {
    @apply border-transparent bg-grey-200;
  }
  &:disabled {
    @apply bg-button-secondary-disabled;
  }
}

.selected {
  @apply bg-blue-100 border-transparent text-blue;
}

.btn-tertiary {
  @apply bg-white border-tertiary shadow-none text-black;
  &:hover {
    @apply shadow-none text-black bg-grey-200 border-tertiary;
  }
  &:focus {
    @apply bg-white text-black border-focus;
  }
  &:active {
    @apply border-tertiary bg-button-tertiary-active;
  }
  &:disabled {
    @apply border-tertiary bg-button-tertiary-disabled;
  }
}

.btn-plain-button {
  @apply border-transparent shadow-none text-black;
  &:hover {
    @apply text-black border-transparent bg-grey-200;
  }
  &:focus {
    @apply text-blue border-transparent bg-blue-100;
  }
  &:active {
    @apply text-black border-transparent bg-button-plainbutton-active;
  }
  &:disabled {
    @apply bg-button-plainbutton-disabled border-transparent;
    &:hover {
      @apply bg-button-plainbutton-disabled border-transparent;
    }
  }
}

.btn-destructive {
  @apply bg-red border-default text-white;
  svg {
    path {
      @apply fill-white;
    }
  }
  &:hover {
    @apply bg-button-destructive-hover text-white border-default;
  }
  &:focus {
    @apply border-focus bg-button-destructive-focus text-white;
  }
  &:active {
    @apply border-default bg-button-destructive-focus text-white;
  }
  &:disabled {
    @apply border-transparent bg-button-destructive-disabled text-white;
  }
}
